@charset "ISO-8859-1";

body {
    background-color:white;
  
     
}
input[type=text] {
 
  width:300px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-bottom: 2px solid white;
}

input[type=number]
{
	width:300px;
    padding: 15px;
  padding: 10px;
  background: #f1f1f1;

}


input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}


hr {
  border: 1px solid black;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
.add-button,reset-button {
  background-color: #008CBA;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.list-button{
  background-color: green;
  color: black;
  padding: 14px 15px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 80%;
  opacity: 0.9;
} 

.add-button,reset-button,list-button:hover {
  opacity:1;
}

/* Extra styles for the reset button */
.reset-button {
  padding: 14px 55px;
  background-color: #f44336;
}

/* Float  buttons and add an equal width */
.add-button,reset-button,list-button {
  float: center;
  width: 40%;
}

/* Add padding to container elements */
.container {
  padding: 40px;
}

fieldset
{
 width:15px;
line-height:0.9;
 color:black;
 border-color:black;
}


